.timeframeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.timeOption,
.timeOptionSelected {
    margin-top: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.timeOption {
    background-color: #898989;
}

.timeOptionSelected {
    background-color: #f0f0f0;
}