:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-color: #070707;
  --primary-color: #00aeff;
  --text-color: #f0f0f0;
  --text-color-secondary: #c7c7c7;

  --tab-color: #2a2a2a;
  --tab-color-hover: #353535;
  --tab-color-active: #1e1e1e;

  --btn-color: #f0f0f0;
  --btn-color-hover: #e0e0e0;
  --btn-selected-color: #a8a8a8;

  --loading-bg-color: #82828280;

  --chart-fill-color: #00aeff33;

  --success-color: #0f8d0f;
  --error-color: #b50909;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color)
}