.historyContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-top: 20vh;
}

.historyContainer a {
    color: var(--text-color-secondary);
}