.chartContainer {
    position: relative;
    min-height: 30vh;
    height: fit-content;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 550px) {
    .chartContainer {
        min-height: 40vh;
        height: fit-content;
        min-width: 900px;
    }
}